/*
    Name: Peter Ddamulira
    Date: September 17, 2026
    Assignment: 8.2 Build a Web Page - Part 6
*/

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #17324d;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}

#navbar {
    overflow: hidden;
    background-color: #244a6b;
    border-bottom: solid 15px #c79a3b;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #f5f0e6;
    color: #17324d;
}

#container {
    margin: 2% 5% 100px;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #17324d;
    font-weight: 400;
    padding-top: 10px;
}

.card-content {
    padding: 2px 16px;
}

.card-content a {
    color: #244a6b;
}

#movies {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies td {
    border: 1px solid #ddd;
    padding: 8px;
}

footer {
    background-color: #17324d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer .copyright {
    float: left;
    padding-left: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}